<!DOCTYPE html>
<html lang="es">

<head>
  <title>RentRoom - Anuncio</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,700,900|Roboto+Mono:300,400,500">
  <link rel="stylesheet" href="fonts/icomoon/style.css">

  <link rel="stylesheet" href="lib/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="lib/jquery/jquery-ui.css">
  <link rel="stylesheet" href="lib/owl_carousel/owl.carousel.min.css">
  <link rel="stylesheet" href="lib/jquery/magnific-popup.css">

  <link rel="stylesheet" href="fonts/flaticon/font/flaticon.css">
  <link rel="stylesheet" href="fonts/bigmug-line/fl-bigmug-line.css">
  <link rel="stylesheet" href="lib/aos/aos.css">

  <link rel="stylesheet" href="css/style.css">

  <!-- Custom CSS for Login -->
  <link rel="stylesheet" href="css/login.css">

  <!-- Notifications -->
  <link rel="stylesheet" type="text/css" href="lib/jquery.growl/jquery.growl.css" />

</head>

<body>

  <div class="site-loader"></div>
  <div class="site-wrap">

    <div class="site-mobile-menu">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div> <!-- .site-mobile-menu -->

    <div class="site-navbar">

      <div class="container py-1">
        <div class="row align-items-center">
          <div class="col-8 col-md-8 col-lg-4">
            <h1 class="title_rent"><a href="index.html" class="h5 text-uppercase text-black"><strong>RentRoom<span
                    class="text-danger">.</span></strong></a></h1>
            <a v-if="!logged" href="create_anuncio.html"><span class="text-black fl-bigmug-line-note35"></span> <span
                class="d-none d-md-inline-block ml-2">Publica tu habitación!</span></a>
          </div>

          <div class="col-4 col-md-4 col-lg-8">
            <nav class="site-navigation text-right text-md-right" role="navigation">

              <ul class="site-menu js-clone-nav d-none d-lg-block">

                <div id="bar">

                  <div id="container">
                    <!-- Login Starts Here -->

                    <div id="loginContainer">
                      <div style="clear:both"></div>
                      <div v-if="login_form" id="loginBox">
                        <form @submit.prevent="login" id="loginForm">
                          <fieldset id="body">
                            <fieldset>
                              <label for="email">Email</label>
                              <input v-model="user.email" type="text" name="email" id="email" />
                            </fieldset>
                            <fieldset>
                              <label for="password">Contraseña</label>
                              <input v-model="user.password" type="password" name="password" id="password" />
                            </fieldset>
                            <br>
                            <input type="submit" id="login" value="Iniciar Sesión" />

                          </fieldset>
                        </form>

                      </div>

                    </div>
                    <!-- Login Ends Here -->

                  </div>
                </div>

                <li><a href="index.html">Inicio</a></li>
                <li v-if="logged"><a class="activo" id="loginButton" @click.prevent="show_boxlogin" href="">Iniciar
                    Sesión</a>
                </li>
                <li v-if="logged"><a href="registro.html">Registro</a></li>
                <li v-if="!logged"><a href="mis_anuncios.html">Mis Anuncios</a></li>
                <li v-if="!logged" class="has-children">
                  <a href="mi_cuenta.html">{{ user.nombre }}</a>
                  <ul class="dropdown">
                    <li><a href="mi_cuenta.html">Mi Cuenta</a></li>
                    <li><a href="mis_chats.html">Mis Chats</a></li>
                    <li @click="logout"><a href="">Cerrar Sesión</a></li>
                  </ul>
                </li>

              </ul>

            </nav>


          </div>


        </div>
      </div>

    </div>
  </div>

  <div id="inicial_anuncio">
    <div>
      <div class="site-blocks-cover overlay fondo_anuncio" data-aos="fade" data-stellar-background-ratio="0.5">
        <div class="container">
          <div class="row align-items-center justify-content-center text-center">
            <div class="col-md-10">
              <span class="d-inline-block text-white px-3 mb-3 property-offer-type rounded">Detalles de la habitación
              </span>
              <h1 class="mb-2">{{ anuncio.ciudad }}</h1>
              <p class="mb-5"><strong class="h2 text-success font-weight-bold">{{ anuncio.precio }}€</strong></p>
            </div>
          </div>
        </div>
      </div>

      <div class="site-section site-section-sm">
        <div class="container">
          <div class="row">
            <div class="col-lg-8" style="margin-top: -150px;">
              <div class="mb-5">
                <div class="slide-one-item home-slider owl-carousel">
                  <div><img :src="anuncio.imagen" alt="Image" class="img-fluid "></div>

                </div>
              </div>
              <div class="bg-white">
                <div class="row mb-5">
                  <div class="col-md-6">
                    <strong class="text-success h1 mb-3">{{ anuncio.precio }}€</strong>
                  </div>
                  <div class="col-md-6">
                    <ul class="property-specs-wrap mb-3 mb-lg-0  float-lg-right">
                      <li>
                        <span class="property-specs">Ventana</span>
                        <span class="property-specs-number">{{ anuncio.ventana }}</span>

                      </li>
                      <li>
                        <span class="property-specs">Habitación</span>
                        <span class="property-specs-number">{{ anuncio.tamano_hab }} m<sup>2</sup></span>

                      </li>
                      <li>
                        <span class="property-specs">Nº Camas</span>
                        <span class="property-specs-number">{{ anuncio.num_camas }}</span>

                      </li>
                      <li>
                        <span class="property-specs">Cama</span>
                        <span class="property-specs-number">{{ anuncio.tamano_cama }}</span>
                      </li>

                    </ul>
                  </div>
                </div>
                <div class="row mb-5">
                  <div class="col-md-6 col-lg-4 text-left border-bottom border-top py-3">
                    <span class="d-inline-block text-black mb-0 caption-text">Lavabo</span>
                    <strong class="d-block">{{ anuncio.lavabo }}</strong>
                  </div>
                  <div class="col-md-6 col-lg-4 text-left border-bottom border-top py-3">
                    <span class="d-inline-block text-black mb-0 caption-text">Casa</span>
                    <strong class="d-block">{{ anuncio.tamano_casa }} m<sup>2</sup></strong>
                  </div>
                  <div class="col-md-6 col-lg-4 text-left border-bottom border-top py-3">
                    <span class="d-inline-block text-black mb-0 caption-text">Habitaciones</span>
                    <strong class="d-block">{{ anuncio.num_hab }}</strong>
                  </div>
                </div>

                <div class="row mt-5">
                  <div class="col-12">
                    <h2 class="h4 text-black">Ubicación</h2>
                    <p> {{ anuncio.direccion }}</p>
                    <p>Ciudad: {{ anuncio.ciudad }} - Provincia: {{anuncio.provincia}}</p>
                  </div>
                </div>

                <div class="row mt-5">
                  <div class="col-12">
                    <h2 class="h4 text-black">Descripción de la vivienda</h2>
                    <p>{{ anuncio.descripcion }}</p>
                  </div>
                </div>

                <!-- SERVICIOS -->
                <div class="row mt-5">
                  <div class="col-12">
                    <h2 class="h4 text-black mb-3">Servicios</h2>

                    <div class="row">

                      <div v-for="servicio in anuncio.servicios" class="col-md-6 col-lg-4 mb-4">
                        <div class="service text-center border rounded">
                          <img v-if="servicio.nombre=='calefacción'" src="./images/servicios/calefaccion.png"
                            class="servicios">
                          <img v-else-if="servicio.nombre=='aire acondicionado'"
                            src="./images/servicios/aire-acondicionado.png" class="servicios">
                          <img v-else-if="servicio.nombre=='balcón'" src="./images/servicios/balcon.png"
                            class="servicios">
                          <img v-else :src=" './images/servicios/'+ servicio.nombre +'.png'" class="servicios">
                          <h2 v-if="servicio.nombre=='calefacción'" class="service-heading">{{servicio.nombre}}</h2>
                          <h2 v-else class="service-heading">{{servicio.nombre}}</h2>
                          <p><span class="read-more"></span></p>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>


                <!-- GALERIA IMAGENES-->
                <div class="row mt-5">
                  <div class="col-12">
                    <h2 class="h4 text-black mb-3">Más imágenes de la vivienda</h2>
                  </div>
                  <div v-for="galeria in anuncio.imagenes_anuncios" class="col-sm-6 col-md-4 col-lg-3 mb-4">
                    <a v-bind:href="galeria.imagen" class="image-popup gal-item"><img :src="galeria.imagen" alt="Image"
                        class="img-fluid galeria-img"></a>
                  </div>


                </div>
              </div>

            </div>


            <div class="col-lg-4 pl-md-5">
              <figure class="profile-avatar">
                <img :src="usuario.imagen" alt="Image" class="img-fluid img-user">
              </figure>
              <div class="bg-white widget border rounded">

                <h3 class="profile-header">{{ usuario.nombre }}, {{ usuario.edad }}</h3>

                <p>{{ usuario.genero }}</p>

                <h5 class="profile-header">Idiomas</h5>
                <p><span v-for="idioma in usuario.idiomas">{{ idioma.nombre }} </span></p>
                <!-- Chat Button -->
                <input v-if="chat_option" type="submit" class="btn btn-primary but-chat" @click="startChat"
                  value="Chatear">

              </div>

            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="site-section site-section-sm bg-light">
      <div class="container">

        <div class="row">
          <div class="col-12">
            <div class="site-section-title mb-5">
              <h2>Otras habitaciones cercanas</h2>
            </div>
          </div>
        </div>

        <div class="row mb-5">
          <div v-for="random in random_anuncios" class="col-md-6 col-lg-4 mb-4">
            <a v-bind:href=" 'anuncio.html?id='+ random.id " class="prop-entry d-block">
              <figure>
                <img :src="random.imagen" alt="Image" class="img-fluid anuncios_img">
              </figure>
              <div class="prop-text">
                <div class="inner">
                  <span class="price rounded">{{ random.precio }}€</span>
                  <h3 class="title">{{ random.ciudad }}</h3>
                  <p class="location">{{ random.direccion }}</p>
                </div>
                <div class="prop-more-info">
                  <div class="inner d-flex">
                    <div class="col">
                      <span>Vivienda:</span>
                      <strong>{{ random.tamano_casa }} m<sup>2</sup></strong>
                    </div>
                    <div class="col">
                      <span>Camas:</span>
                      <strong> {{ random.num_camas }}</strong>
                    </div>
                    <div class="col">
                      <span>Habitación:</span>
                      <strong>{{ random.tamano_hab }} m<sup>2</sup></strong>
                    </div>
                    <div class="col">
                      <span>Habitaciones:</span>
                      <strong> {{ random.num_hab }}</strong>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>


        </div>
      </div>

    </div>

  </div>

  <!-- PRIVACY BOX -->
  <div id="privacy-box">
    <div class="cookieinfo"
      style="position: fixed; left: 0px; right: 0px; height: auto; min-height: 21px; z-index: 2147483647; background: rgb(242, 223, 215); color: black; line-height: 21px; padding: 8px 18px; font-family: verdana, arial, sans-serif; font-size: 14px; text-align: center; bottom: 0px; opacity: 1;">
      <div class="but-cookies cookieinfo-close"
        style="float: right; display: block; padding: 5px 8px; min-width: 100px; margin-left: 5px; border-radius: 5px; cursor: pointer; color: white; background: rgb(175, 39, 39); text-align: center;">
        Entendido!</div><span style="display:block;padding:5px 0 5px 0;">
        Utilizamos cookies y almacenamiento local para mejorar su experiencia. Al continuar visitando este sitio, usted
        acepta nuestra política. <a href="cookies.html" style="text-decoration: none; color: rgb(175, 39, 39);">Más
          información</a><img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
          style="display: none;"> <a href="https://cookieinfoscript.com"
          style="text-decoration: none; display: none; color: rgb(175, 39, 39);">Cookie Info Script</a></span>
    </div>
  </div>
  <!-- -->

  <footer class="site-footer">
    <div class="container">

      <div class="row pt-5 mt-5 text-center">
        <div class="col-md-12">
          <p>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Creative Commons &copy;</script>
            <script>document.write(new Date().getFullYear());</script> | This template is made by <a
              href="https://colorlib.com" target="_blank">Colorlib</a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          </p>
        </div>

      </div>
    </div>
  </footer>

  <script src="lib/jquery/jquery-3.4.1.min.js"></script>
  <script src="lib/jquery/jquery-ui.js"></script>
  <script src="lib/bootstrap/bootstrap.min.js"></script>
  <script src="lib/jquery/jquery.magnific-popup.min.js"></script>
  <script src="lib/owl_carousel/owl.carousel.min.js"></script>
  <script src="lib/aos/aos.js"></script>
  <script src="js/main.js"></script>

  <!-- Axios for AJAX Requests -->
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

  <!-- Vuejs -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>

  <!-- Notifications -->
  <script src="lib/jquery.growl/jquery.growl.js"></script>

  <!-- Custom JS -->
  <script src="js/config.js"></script>
  <script src="js/anuncio.js"></script>
  <script src="js/login.js"></script>
  <script src="js/check_privacy.js"></script>
  <script src="js/header.js"></script>

</body>

</html>