<!DOCTYPE html>
<html lang="es">

<head>
    <title>RentRoom - Anuncios</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,700,900|Roboto+Mono:300,400,500">
    <link rel="stylesheet" href="fonts/icomoon/style.css">
    <link rel="stylesheet" href="lib/bootstrap/bootstrap.min.css">

    <!-- Barra filtrado precio -->
    <link rel="stylesheet" href="lib/jquery/jquery-ui.css">

    <!-- Iconos -->
    <link rel="stylesheet" href="fonts/bigmug-line/fl-bigmug-line.css">

    <!-- Efecto de carga en imágenes -->
    <link rel="stylesheet" href="lib/aos/aos.css">

    <!-- Custom Template CSS -->
    <link rel="stylesheet" href="css/style.css">

    <!-- Custom CSS for Login -->
    <link rel="stylesheet" href="css/login.css">

    <!-- Notifications -->
    <link rel="stylesheet" type="text/css"
        href="http://cdnjs.cloudflare.com/ajax/libs/jquery-jgrowl/1.4.1/jquery.jgrowl.min.css" />


</head>

<body>

    <div class="site-loader"></div>

    <div class="site-wrap">

        <div class="site-mobile-menu">
            <div class="site-mobile-menu-header">
                <div class="site-mobile-menu-close mt-3">
                    <span class="icon-close2 js-menu-toggle"></span>
                </div>
            </div>
            <div class="site-mobile-menu-body"></div>
        </div> <!-- .site-mobile-menu -->

        <div class="site-navbar">

            <div class="container py-1">
                <div class="row align-items-center">
                    <div class="col-8 col-md-8 col-lg-4">
                        <h1 class="title_rent"><a href="index.html"
                                class="h5 text-uppercase text-black"><strong>RentRoom<span
                                        class="text-danger">.</span></strong></a></h1>
                        <a v-if="!logged" href="create_anuncio.html"><span
                                class="text-black fl-bigmug-line-note35"></span> <span
                                class="d-none d-md-inline-block ml-2">Publica tu habitación!</span></a>
                    </div>

                    <div class="col-4 col-md-4 col-lg-8">
                        <nav class="site-navigation text-right text-md-right" role="navigation">

                            <ul class="site-menu js-clone-nav d-none d-lg-block">

                                <div id="bar">

                                    <div id="container">
                                        <!-- Login Starts Here -->

                                        <div id="loginContainer">
                                            <div style="clear:both"></div>
                                            <div v-if="login_form" id="loginBox">
                                                <form @submit.prevent="login" id="loginForm">
                                                    <fieldset id="body">
                                                        <fieldset>
                                                            <label for="email">Email</label>
                                                            <input v-model="user.email" type="text" name="email"
                                                                id="email" />
                                                        </fieldset>
                                                        <fieldset>
                                                            <label for="password">Contraseña</label>
                                                            <input v-model="user.password" type="password"
                                                                name="password" id="password" />
                                                        </fieldset>
                                                        <br>
                                                        <input type="submit" id="login" value="Iniciar Sesión" />

                                                    </fieldset>
                                                </form>

                                            </div>

                                        </div>
                                        <!-- Login Ends Here -->

                                    </div>
                                </div>

                                <li><a href="index.html">Inicio</a></li>
                                <li v-if="logged"><a class="activo" id="loginButton" @click.prevent="show_boxlogin"
                                        href="">Iniciar
                                        Sesión</a>
                                </li>
                                <li v-if="logged"><a href="registro.html">Registro</a></li>
                                <li v-if="!logged"><a href="mis_anuncios.html">Mis Anuncios</a></li>
                                <li v-if="!logged" class="has-children">
                                    <a href="mi_cuenta.html">{{ user.nombre }}</a>
                                    <ul class="dropdown">
                                        <li><a href="mi_cuenta.html">Mi Cuenta</a></li>
                                        <li><a href="mis_chats.html">Mis Chats</a></li>
                                        <li @click="logout"><a href="">Cerrar Sesión</a></li>
                                    </ul>
                                </li>

                            </ul>

                        </nav>


                    </div>


                </div>
            </div>

        </div>
    </div>

    <div class="single-ciudad site-section site-section-sm bg-light">
        <div class="container">
            <div class="row mb-5">
                <div class="col-12">
                    <div class="site-section-title">
                        <h2>Cookies y Almacenamiento Local</h2>
                    </div>
                </div>
            </div>

            <div class="container cookies-section">

                <div>
                    <p>
                        En cumplimiento con lo dispuesto en el artículo 22.2 de la Ley 34/2002, de 11 de julio, de
                        Servicios
                        de la Sociedad de la Información y de Comercio Electrónico, esta página web le informa, en esta
                        sección, sobre la política de recogida y tratamiento de cookies.
                    </p>

                    <h2> ¿QUÉ SON LAS COOKIES? </h2>

                    <p>
                        Una cookie es un fichero que se descarga en su ordenador al acceder a determinadas páginas web.
                        Las
                        cookies permiten a una página web, entre otras cosas, almacenar y recuperar información sobre
                        los
                        hábitos de navegación de un usuario o de su equipo y, dependiendo de la información que
                        contengan y
                        de la forma en que utilice su equipo, pueden utilizarse para reconocer al usuario.
                    </p>

                    <h2> ¿QUÉ ES EL ALMACENAMIENTO LOCAL? </h2>

                    <p>
                        El almacenamiento local (localStorage) es un fichero que se genera en su ordenador al acceder a
                        determinadas páginas web.
                        El almacenamiento local permite a una página web, entre otras cosas, almacenar y
                        recuperar información sobre los hábitos de navegación de un usuario o de su equipo y,
                        dependiendo de la información que
                        contengan y de la forma en que utilice su equipo, pueden utilizarse para reconocer al usuario.
                    </p>

                    <h2> ¿QUÉ TIPOS DE COOKIES Y ALMACENAMIENTO LOCAL UTILIZA ESTA PÁGINA WEB?</h2>

                    <p>
                        Esta página web utiliza los siguientes tipos de cookies:

                        Cookies de análisis: Son aquéllas que bien tratadas por nosotros o por terceros, nos permiten
                        cuantificar el número de usuarios y así realizar la medición y análisis estadístico de la
                        utilización que hacen los usuarios del servicio ofertado. Para ello se analiza su navegación en
                        nuestra página web con el fin de mejorar la oferta de productos o servicios que le ofrecemos.

                        Cookies técnicas: Son aquellas que permiten al usuario la navegación a través del área
                        restringida y
                        la utilización de sus diferentes funciones, como por ejemplo, llevar a cambio el proceso de
                        compra
                        de un artículo.

                        Cookies de personalización: Son aquellas que permiten al usuario acceder al servicio con algunas
                        características de carácter general predefinidas en función de una serie de criterios en el
                        terminal
                        del usuario como por ejemplo serian el idioma o el tipo de navegador a través del cual se
                        conecta al
                        servicio.

                        Cookies publicitarias: Son aquéllas que, bien tratadas por esta web o por terceros, permiten
                        gestionar de la forma más eficaz posible la oferta de los espacios publicitarios que hay en la
                        página web, adecuando el contenido del anuncio al contenido del servicio solicitado o al uso que
                        realice de nuestra página web. Para ello podemos analizar sus hábitos de navegación en Internet
                        y
                        podemos mostrarle publicidad relacionada con su perfil de navegación.

                        Cookies de publicidad comportamental: Son aquellas que permiten la gestión, de la forma más
                        eficaz
                        posible, de los espacios publicitarios que, en su caso, el editor haya incluido en una página
                        web,
                        aplicación o plataforma desde la que presta el servicio solicitado. Este tipo de cookies
                        almacenan
                        información del comportamiento de los visitantes obtenida a través de la observación continuada
                        de
                        sus hábitos de navegación, lo que permite desarrollar un perfil específico para mostrar avisos
                        publicitarios en función del mismo.

                    </p>

                    <h2> DESACTIVAR LAS COOKIES Y ALMACENAMIENTO LOCAL</h2>


                    <p>
                        Puede usted permitir, bloquear o eliminar las cookies instaladas en su equipo mediante la
                        configuración de las opciones del navegador instalado en su ordenador.

                        En la mayoría de los navegadores web se ofrece la posibilidad de permitir, bloquear o eliminar
                        las
                        cookies instaladas en su equipo.

                        A continuación puede acceder a la configuración de los navegadores webs más frecuentes para
                        aceptar,
                        instalar o desactivar las cookies:

                        Configurar cookies en Google Chrome

                        Configurar cookies en Microsoft Internet Explorer

                        Configurar cookies en Mozilla Firefox

                        Configurar cookies en Safari (Apple)

                    </p>

                    <h2> COOKIES DE TERCEROS.</h2>


                    <p>
                        Esta página web utiliza servicios de terceros para recopilar información con fines estadísticos
                        y de
                        uso de la web. Se usan cookies de DoubleClick para mejorar la publicidad que se incluye en el
                        sitio
                        web. Son utilizadas para orientar la publicidad según el contenido que es relevante para un
                        usuario,
                        mejorando así la calidad de experiencia en el uso del mismo.

                        En concreto, usamos los servicios de Google Adsense y de Google Analytics para nuestras
                        estadísticas
                        y publicidad. Algunas cookies son esenciales para el funcionamiento del sitio, por ejemplo el
                        buscador incorporado.

                        Nuestro sitio incluye otras funcionalidades proporcionadas por terceros. Usted puede fácilmente
                        compartir el contenido en redes sociales como Facebook, Twitter o Google +, con los botones que
                        hemos incluido a tal efecto.
                    </p>

                    <h2> ADVERTENCIA SOBRE ELIMINAR COOKIES Y ALMACENAMIENTO LOCAL</h2>

                    <p>
                        Usted puede eliminar y bloquear todas las cookies de este sitio, pero parte del sitio no
                        funcionará
                        o la calidad de la página web puede verse afectada.

                        Si tiene cualquier duda acerca de nuestra política de cookies, puede contactar con esta página
                        web a
                        través de nuestros canales de Contacto.</p>
                </div>
            </div>

        </div>
    </div>

    <!-- PRIVACY BOX -->
    <div id="privacy-box">
        <div class="cookieinfo"
            style="position: fixed; left: 0px; right: 0px; height: auto; min-height: 21px; z-index: 2147483647; background: rgb(242, 223, 215); color: black; line-height: 21px; padding: 8px 18px; font-family: verdana, arial, sans-serif; font-size: 14px; text-align: center; bottom: 0px; opacity: 1;">
            <div class="but-cookies cookieinfo-close"
                style="float: right; display: block; padding: 5px 8px; min-width: 100px; margin-left: 5px; border-radius: 5px; cursor: pointer; color: white; background: rgb(175, 39, 39); text-align: center;">
                Entendido!</div><span style="display:block;padding:5px 0 5px 0;">
                Utilizamos cookies y almacenamiento local para mejorar su experiencia. Al continuar visitando este
                sitio, usted
                acepta nuestra política. <a href="cookies.html"
                    style="text-decoration: none; color: rgb(175, 39, 39);">Más
                    información</a><img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                    style="display: none;"> <a href="https://cookieinfoscript.com"
                    style="text-decoration: none; display: none; color: rgb(175, 39, 39);">Cookie Info Script</a></span>
        </div>
    </div>
    <!-- -->

    <footer class="site-footer">
        <div class="container">

            <div class="row pt-5 mt-5 text-center">
                <div class="col-md-12">
                    <p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Creative Commons &copy;</script>
                        <script>document.write(new Date().getFullYear());</script> | This template is made by <a
                            href="https://colorlib.com" target="_blank">Colorlib</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>

            </div>
        </div>
    </footer>

    <script src="lib/jquery/jquery-3.4.1.min.js"></script>
    <script src="lib/jquery/jquery-ui.js"></script>
    <script src="lib/bootstrap/bootstrap.min.js"></script>
    <script src="lib/aos/aos.js"></script>
    <script src="js/main.js"></script>

    <!-- Axios for AJAX requests-->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <!-- Vuejs -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-cookies@1.5.12/vue-cookies.js"></script>

    <!-- Notifications -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-jgrowl/1.4.1/jquery.jgrowl.min.js"></script>

    <!-- Galeria Imagenes Ciudades -->
    <script src="js/imagenes_ciudades.js"></script>

    <!-- Custom JS -->
    <script src="js/config.js"></script>
    <script src="js/single.js"></script>
    <script src="js/login.js"></script>
    <script src="js/header.js"></script>
    <script src="js/check_privacy.js"></script>


</body>

</html>