<!DOCTYPE html>
<html lang="es">

<head>
  <title>RentRoom - Inicio</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,700,900|Roboto+Mono:300,400,500">
  <link rel="stylesheet" href="fonts/icomoon/style.css">
  <link rel="stylesheet" href="lib/bootstrap/bootstrap.min.css">

  <!-- Barra filtrado precio -->
  <link rel="stylesheet" href="lib/jquery/jquery-ui.css">

  <!-- Iconos -->
  <link rel="stylesheet" href="fonts/bigmug-line/fl-bigmug-line.css">

  <!-- Efecto de carga en imágenes -->
  <link rel="stylesheet" href="lib/aos/aos.css">

  <!-- Custom Template CSS -->
  <link rel="stylesheet" href="css/style.css">

  <!-- Custom CSS for Login -->
  <link rel="stylesheet" href="css/login.css">

  <!-- Notifications -->
  <link rel="stylesheet" type="text/css" href="lib/jquery.growl/jquery.growl.css" />

  <!-- Galeria Imagenes Ciudades-->
  <link rel="stylesheet" href="css/imagenes_ciudades.css">



</head>

<body>

  <div class="site-loader"></div>
  <div class="site-wrap">

    <div class="site-mobile-menu">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div> <!-- .site-mobile-menu -->

    <div class="site-navbar">

      <div class="container py-1">
        <div class="row align-items-center">
          <div class="col-8 col-md-8 col-lg-4">
            <h1 class="title_rent"><a href="index.html" class="h5 text-uppercase text-black"><strong>RentRoom<span
                    class="text-danger">.</span></strong></a></h1>
            <a v-if="!logged" href="create_anuncio.html"><span class="text-black fl-bigmug-line-note35"></span> <span
                class="d-none d-md-inline-block ml-2">Publica tu habitación!</span></a>
          </div>

          <div class="col-4 col-md-4 col-lg-8">
            <nav class="site-navigation text-right text-md-right" role="navigation">

              <ul class="site-menu js-clone-nav d-none d-lg-block">

                <div id="bar">

                  <div id="container">
                    <!-- Login Starts Here -->

                    <div id="loginContainer">
                      <div style="clear:both"></div>
                      <div v-if="login_form" id="loginBox">
                        <form @submit.prevent="login" id="loginForm">
                          <fieldset id="body">
                            <fieldset>
                              <label for="email">Email</label>
                              <input v-model="user.email" type="text" name="email" id="email" />
                            </fieldset>
                            <fieldset>
                              <label for="password">Contraseña</label>
                              <input v-model="user.password" type="password" name="password" id="password" />
                            </fieldset>
                            <br>
                            <input type="submit" id="login" value="Iniciar Sesión" />

                          </fieldset>
                        </form>

                      </div>

                    </div>
                    <!-- Login Ends Here -->

                  </div>
                </div>

                <li class="active"><a href="index.html">Inicio</a></li>
                <li v-if="logged"><a class="activo" id="loginButton" @click.prevent="show_boxlogin" href="">Iniciar
                    Sesión</a>
                </li>
                <li v-if="logged"><a href="registro.html">Registro</a></li>
                <li v-if="!logged"><a href="mis_anuncios.html">Mis Anuncios</a></li>
                <li v-if="!logged" class="has-children">
                  <a href="mi_cuenta.html">{{ user.nombre }}</a>
                  <ul class="dropdown">
                    <li><a href="mi_cuenta.html">Mi Cuenta</a></li>
                    <li><a href="mis_chats.html">Mis Chats</a></li>
                    <li @click="logout"><a href="">Cerrar Sesión</a></li>
                  </ul>
                </li>

              </ul>

            </nav>


          </div>


        </div>
      </div>

    </div>
  </div>

  <div class="site-blocks-cover" style="background-image: url(images/img3.jpg);" data-aos="fade">
  </div>
  <div class="py-5 div_filtro">
    <div id="filter_box" class="container">
      <form @submit.prevent="filtrar" class="row mb-5">

        <div class="col-sm-6 col-md-4 col-lg-3 mb-4">
          <div class="select-wrap">
            <span class="icon icon-arrow_drop_down"></span>
            <select v-model="key.tam_hab" name="offer-types" id="offer-types" class="form-control d-block rounded-0">
              <option disabled selected hidden value="Tamaño Habitación">Tamaño Habitación</option>
              <option value="50">50 m o más</option>
              <option value="40">40 - 49 m</option>
              <option value="30">30 - 39 m</option>
              <option value="20">20 - 29 m</option>
              <option value="15">15 - 19 m</option>
              <option value="10">10 - 14 m</option>

            </select>
          </div>
        </div>

        <div class="col-sm-6 col-md-4 col-lg-3 mb-4">
          <div class="select-wrap">
            <span class="icon icon-arrow_drop_down"></span>
            <select v-model="key.tam_casa" name="offer-types" id="offer-types" class="form-control d-block rounded-0">
              <option disabled selected hidden value="Tamaño Casa">Tamaño Casa</option>
              <option value="150">150 m o más</option>
              <option value="100">100 - 149 m</option>
              <option value="75">75 - 99 m</option>
              <option value="50">50 - 74 m</option>
              <option value="25">25 - 49 m</option>

            </select>
          </div>
        </div>

        <div class="col-sm-6 col-md-4 col-lg-3 mb-4">
          <div class="select-wrap">
            <span class="icon icon-arrow_drop_down"></span>
            <select v-model="key.provincia" name="offer-types" id="offer-types" class="form-control d-block rounded-0">
              <option disabled selected hidden value="Provincia">Provincia</option>
              <option value='Álava'>Álava</option>
              <option value='Albacete'>Albacete</option>
              <option value='Alicante'>Alicante</option>
              <option value='Almería'>Almería</option>
              <option value='Asturias'>Asturias</option>
              <option value='Ávila'>Ávila</option>
              <option value='Badajoz'>Badajoz</option>
              <option value='Barcelona'>Barcelona</option>
              <option value='Burgos'>Burgos</option>
              <option value='Cáceres'>Cáceres</option>
              <option value='Cádiz'>Cádiz</option>
              <option value='Cantabria'>Cantabria</option>
              <option value='Castellón'>Castellón</option>
              <option value='Ceuta'>Ceuta</option>
              <option value='Ciudad Real'>Ciudad Real</option>
              <option value='Córdoba'>Córdoba</option>
              <option value='Cuenca'>Cuenca</option>
              <option value='Girona'>Girona</option>
              <option value='Las Palmas'>Las Palmas</option>
              <option value='Granada'>Granada</option>
              <option value='Guadalajara'>Guadalajara</option>
              <option value='Guipúzcoa'>Guipúzcoa</option>
              <option value='Huelva'>Huelva</option>
              <option value='Huesca'>Huesca</option>
              <option value='Islas Baleares'>Islas Baleares</option>
              <option value='Jaén'>Jaén</option>
              <option value='A Coruña'>A Coruña</option>
              <option value='La Rioja'>La Rioja</option>
              <option value='León'>León</option>
              <option value='Lleida'>Lleida</option>
              <option value='Lugo'>Lugo</option>
              <option value='Madrid'>Madrid</option>
              <option value='Málaga'>Málaga</option>
              <option value='Melilla'>Melilla</option>
              <option value='Murcia'>Murcia</option>
              <option value='Navarra'>Navarra</option>
              <option value='Ourense'>Ourense</option>
              <option value='Palencia'>Palencia</option>
              <option value='Pontevedra'>Pontevedra</option>
              <option value='Salamanca'>Salamanca</option>
              <option value='Segovia'>Segovia</option>
              <option value='Sevilla'>Sevilla</option>
              <option value='Soria'>Soria</option>
              <option value='Tarragona'>Tarragona</option>
              <option value='Santa Cruz de Tenerife'>Santa Cruz de Tenerife</option>
              <option value='Teruel'>Teruel</option>
              <option value='Toledo'>Toledo</option>
              <option value='Valencia'>Valencia</option>
              <option value='Valladolid'>Valladolid</option>
              <option value='Vizcaya'>Vizcaya</option>
              <option value='Zamora'>Zamora</option>
              <option value='Zaragoza'>Zaragoza</option>
            </select>
          </div>
        </div>

        <div class="col-sm-6 col-md-4 col-lg-3 mb-4">
          <div class="select-wrap">
            <span class="icon icon-arrow_drop_down"></span>
            <select v-model="key.lavabo" name="offer-types" id="offer-types" class="form-control d-block rounded-0">
              <option selected disabled hidden value="Lavabo">Lavabo</option>
              <option value="Individual">Individual</option>
              <option value="Compartido">Compartido</option>

            </select>
          </div>
        </div>

        <div class="col-sm-6 col-md-4 col-lg-3 mb-4">
        </div>

        <div class="col-sm-6 col-md-4 col-lg-3 mb-4">
          <div class="mb-4">
            <div id="slider-range" class="border-primary"></div>
            <input type="text" name="text" id="amount" class="form-control border-0 pl-0 bg-white" disabled="" />
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 mb-4">
          <input type="submit" class="btn btn-primary btn-block form-control-same-height rounded-0" value="Filtrar">
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 mb-4">
          <input @click="resetFiltro" class="btn btn-secondary py-2 px-1 rounded-0 but-reset" value="Reiniciar">
        </div>

      </form>
    </div>
  </div>

  <div class="site-section site-section-sm bg-light">
    <div id="inicial" class="container">
      <div class="row mb-5">
        <div class="col-12">
          <div class="site-section-title">
            <h2>Habitaciones disponibles</h2>
          </div>
        </div>
      </div>
      <div class="row mb-5 min-altura">
        <div v-for="anuncio in anunciosVisibles" class="col-md-6 col-lg-4 mb-4">
          <a v-bind:href=" 'anuncio.html?id='+ anuncio.id " class="prop-entry d-block">

            <figure>
              <img :src="anuncio.imagen" alt="Imagen anuncio" class="img-fluid anuncios_img">
            </figure>
            <div class="prop-text">
              <div class="inner">
                <span class="price rounded">{{ anuncio.precio }}€</span>
                <h3 class="title">{{ anuncio.ciudad }}</h3>
                <p class="location">{{ anuncio.direccion }}</p>
              </div>
              <div class="prop-more-info">
                <div class="inner d-flex">
                  <div class="col">
                    <span>Vivienda:</span>
                    <strong>{{ anuncio.tamano_casa }} m<sup>2</sup></strong>
                  </div>
                  <div class="col">
                    <span>Camas:</span>
                    <strong> {{ anuncio.num_camas }}</strong>
                  </div>
                  <div class="col">
                    <span>Habitación:</span>
                    <strong>{{ anuncio.tamano_hab }} m<sup>2</sup></strong>
                  </div>
                  <div class="col">
                    <span>Habitaciones:</span>
                    <strong> {{ anuncio.num_hab }}</strong>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>

      </div>
      <div class="row">
        <div class="col-md-12 text-center">
          <div class="site-pagination">
            <div but="1" @click="nextAnuncios(1)" class="active">1</div>
            <div but="2" @click="nextAnuncios(2)">2</div>
            <div but="3" @click="nextAnuncios(3)">3</div>
            <div but="4" @click="nextAnuncios(4)">4</div>
            <div but="5" @click="nextAnuncios(5)">5</div>
            <div but="6" @click="nextAnuncios(6)">6</div>

          </div>
        </div>
      </div>

    </div>
  </div>

  <!-- CIUDADES -->

  <div class="site-section bg-light">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-7 text-center mb-5">
          <div class="site-section-title">
            <h2>Ciudades</h2>
          </div>
        </div>
      </div>

      <main class="main-content">
        <div id="count_ciudades" class="container-fluid photos">
          <div class="row align-items-stretch">

            <div class="col-6 col-md-6 col-lg-8" data-aos="fade-up">
              <a v-bind:href=" 'anuncios_ciudad.html?ciudad=Barcelona' " class="d-block photo-item">
                <img src="images/ciudades/barcelona-1.jpg" alt="Image" class="img-fluid img_ciudades">
                <div class="photo-text-more">
                  <div class="photo-text-more">
                    <h3 class="heading">Barcelona</h3>
                    <span class="meta">{{ count_bcn }} habitaciones</span>
                  </div>
                </div>
              </a>
            </div>
            <div class="col-6 col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="100">
              <a v-bind:href=" 'anuncios_ciudad.html?ciudad=Valencia' " class="d-block photo-item">
                <img src="images/ciudades/valencia.jpg" alt="Image" class="img-fluid">
                <div class="photo-text-more">
                  <div class="photo-text-more">
                    <h3 class="heading">Valencia</h3>
                    <span class="meta">{{ count_val }} habitaciones</span>
                  </div>
                </div>
              </a>
            </div>

            <div class="col-6 col-md-6 col-lg-3" data-aos="fade-up">
              <a v-bind:href=" 'anuncios_ciudad.html?ciudad=Sevilla' " class="d-block photo-item">
                <img src="images/ciudades/sevilla.jpg" alt="Image" class="img-fluid">
                <div class="photo-text-more">
                  <h3 class="heading">Sevilla</h3>
                  <span class="meta">{{ count_sev }} habitaciones</span>
                </div>
              </a>
            </div>
            <div class="col-6 col-md-6 col-lg-6" data-aos="fade-up" data-aos-delay="200">
              <a v-bind:href=" 'anuncios_ciudad.html?ciudad=Tarragona' " class="d-block photo-item">
                <img src="images/ciudades/tarragona.jpg" alt="Image" class="img-fluid">
                <div class="photo-text-more">
                  <div class="photo-text-more">
                    <h3 class="heading">Tarragona</h3>
                    <span class="meta">{{ count_tar }} habitaciones</span>
                  </div>
                </div>
              </a>
            </div>
            <div class="col-6 col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="300">
              <a v-bind:href=" 'anuncios_ciudad.html?ciudad=Madrid' " class="d-block photo-item">
                <img src="images/ciudades/Madrid.jpg" alt="Image" class="img-fluid">
                <div class="photo-text-more">
                  <div class="photo-text-more">
                    <h3 class="heading">Madrid</h3>
                    <span class="meta">{{ count_mad }} habitaciones</span>
                  </div>
                </div>
              </a>
            </div>

            <div class="col-6 col-md-6 col-lg-6" data-aos="fade-up" data-aos-delay="">
              <a v-bind:href=" 'anuncios_ciudad.html?ciudad=Islas Baleares' " class="d-block photo-item">
                <img src="images/ciudades/mallorca.jpg" alt="Image" class="img-fluid">
                <div class="photo-text-more">
                  <div class="photo-text-more">
                    <h3 class="heading">Islas Baleares</h3>
                    <span class="meta">{{ count_bal }} habitaciones</span>
                  </div>
                </div>
              </a>
            </div>
            <div class="col-6 col-md-6 col-lg-6" data-aos="fade-up" data-aos-delay="100">
              <a v-bind:href=" 'anuncios_ciudad.html?ciudad=Zaragoza' " class="d-block photo-item">
                <img src="images/ciudades/zaragoza.jpg" alt="Image" class="img-fluid">
                <div class="photo-text-more">
                  <div class="photo-text-more">
                    <h3 class="heading">Zaragoza</h3>
                    <span class="meta">{{ count_zar }} habitaciones</span>
                  </div>
                </div>
              </a>
            </div>
          </div>

        </div>
      </main>
    </div>
  </div>

  <!-- PRIVACY BOX -->
  <div id="privacy-box">
    <div class="cookieinfo"
      style="position: fixed; left: 0px; right: 0px; height: auto; min-height: 21px; z-index: 2147483647; background: rgb(242, 223, 215); color: black; line-height: 21px; padding: 8px 18px; font-family: verdana, arial, sans-serif; font-size: 14px; text-align: center; bottom: 0px; opacity: 1;">
      <div class="but-cookies cookieinfo-close"
        style="float: right; display: block; padding: 5px 8px; min-width: 100px; margin-left: 5px; border-radius: 5px; cursor: pointer; color: white; background: rgb(175, 39, 39); text-align: center;">
        Entendido!</div><span style="display:block;padding:5px 0 5px 0;">
        Utilizamos cookies y almacenamiento local para mejorar su experiencia. Al continuar visitando este sitio, usted
        acepta nuestra política. <a href="cookies.html" style="text-decoration: none; color: rgb(175, 39, 39);">Más
          información</a><img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
          style="display: none;"> <a href="https://cookieinfoscript.com"
          style="text-decoration: none; display: none; color: rgb(175, 39, 39);">Cookie Info Script</a></span>
    </div>
  </div>
  <!-- -->

  <footer class="site-footer">
    <div class="container">

      <div class="row pt-5 mt-5 text-center">
        <div class="col-md-12">
          <p>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Creative Commons &copy;</script>
            <script>document.write(new Date().getFullYear());</script> | This template is made by <a
              href="https://colorlib.com" target="_blank">Colorlib</a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          </p>
        </div>

      </div>
    </div>
  </footer>

  </div>

  <script src="lib/jquery/jquery-3.4.1.min.js"></script>
  <script src="lib/jquery/jquery-ui.js"></script>
  <script src="lib/bootstrap/bootstrap.min.js"></script>
  <script src="lib/aos/aos.js"></script>
  <script src="js/main.js"></script>

  <!-- Axios for AJAX requests-->
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

  <!-- Vuejs -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>

  <!-- Notifications -->
  <script src="lib/jquery.growl/jquery.growl.js"></script>

  <!-- Custom JS -->
  <script src="js/config.js"></script>
  <script src="js/index.js"></script>
  <script src="js/login.js"></script>
  <script src="js/header.js"></script>
  <script src="js/check_privacy.js"></script>

</body>

</html>