<!DOCTYPE html>
<html lang="es">

<head>
    <title>RentRoom - Mis Anuncios</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- CSS -->
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,700,900|Roboto+Mono:300,400,500">
    <link rel="stylesheet" href="fonts/icomoon/style.css">

    <link rel="stylesheet" href="lib/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="fonts/flaticon/font/flaticon.css">
    <link rel="stylesheet" href="fonts/bigmug-line/fl-bigmug-line.css">
    <link rel="stylesheet" href="lib/aos/aos.css">
    <link rel="stylesheet" href="css/style.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Custom CSS for Login -->
    <link rel="stylesheet" href="css/login.css">

    <!-- Delete Icon-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <!-- Grid Mis Anuncios -->
    <link rel="stylesheet" href="css/tabla_misanuncios.css" type="text/css" media="all" />

    <!-- Notifications -->
    <link rel="stylesheet" type="text/css" href="lib/jquery.growl/jquery.growl.css" />

</head>

<body>

    <div class="site-loader"></div>

    <div class="site-wrap">

        <div class="site-mobile-menu">
            <div class="site-mobile-menu-header">
                <div class="site-mobile-menu-close mt-3">
                    <span class="icon-close2 js-menu-toggle"></span>
                </div>
            </div>
            <div class="site-mobile-menu-body"></div>
        </div> <!-- .site-mobile-menu -->

        <div class="site-navbar">

            <div class="container py-1">
                <div class="row align-items-center">
                    <div class="col-8 col-md-8 col-lg-4">
                        <h1 class="title_rent"><a href="index.html"
                                class="h5 text-uppercase text-black"><strong>RentRoom<span
                                        class="text-danger">.</span></strong></a></h1>
                        <a v-if="!logged" href="create_anuncio.html"><span
                                class="text-black fl-bigmug-line-note35"></span> <span
                                class="d-none d-md-inline-block ml-2">Publica tu habitación!</span></a>
                    </div>

                    <div class="col-4 col-md-4 col-lg-8">
                        <nav class="site-navigation text-right text-md-right" role="navigation">

                            <ul class="site-menu js-clone-nav d-none d-lg-block">

                                <div id="bar">

                                    <div id="container">
                                        <!-- Login Starts Here -->

                                        <div id="loginContainer">
                                            <div style="clear:both"></div>
                                            <div v-if="login_form" id="loginBox">
                                                <form @submit.prevent="login" id="loginForm">
                                                    <fieldset id="body">
                                                        <fieldset>
                                                            <label for="email">Email</label>
                                                            <input v-model="user.email" type="text" name="email"
                                                                id="email" />
                                                        </fieldset>
                                                        <fieldset>
                                                            <label for="password">Contraseña</label>
                                                            <input v-model="user.password" type="password"
                                                                name="password" id="password" />
                                                        </fieldset>
                                                        <br>
                                                        <input type="submit" id="login" value="Iniciar Sesión" />

                                                    </fieldset>
                                                </form>

                                            </div>

                                        </div>
                                        <!-- Login Ends Here -->

                                    </div>
                                </div>

                                <li><a href="index.html">Inicio</a></li>
                                <li v-if="logged"><a class="activo" id="loginButton" @click.prevent="show_boxlogin"
                                        href="">Iniciar
                                        Sesión</a>
                                </li>
                                <li v-if="logged"><a href="registro.html">Registro</a></li>
                                <li class="active" v-if="!logged"><a href="mis_anuncios.html">Mis Anuncios</a></li>
                                <li v-if="!logged" class="has-children">
                                    <a href="mi_cuenta.html">{{ user.nombre }}</a>
                                    <ul class="dropdown">
                                        <li><a href="mi_cuenta.html">Mi Cuenta</a></li>
                                        <li><a href="mis_chats.html">Mis Chats</a></li>
                                        <li @click="logout"><a href="">Cerrar Sesión</a></li>
                                    </ul>
                                </li>

                            </ul>

                        </nav>


                    </div>


                </div>
            </div>

        </div>
    </div>

    <div id="mis_anunciosBox" class="site-section border-top bg-light">
        <div class="container">
            <div class="row mb-5 justify-content-center" data-aos="fade-up">
                <div class="col-md-7">
                    <div class="site-section-title text-center">
                        <h2>Mis Anuncios</h2>
                    </div>
                </div>
            </div>

            <div class="grid_misanuncios">

                <div @click="showAnuncio(anuncio.id)" v-for="anuncio in anuncios" class="grid1">

                    <span v-if="anuncio.activo"> Activo </span>
                    <span class="status-alquilado" v-if="!anuncio.activo"> Desactivado </span>

                    <div>
                        <!--trigger-custom-->
                        <h2> <i v-on:click.prevent.stop="edit_anuncio(anuncio)" data-toggle="modal"
                                data-target="#exampleModal" class="edit-but  fl-bigmug-line-note35"></i>
                            {{ anuncio.ciudad }} - {{ anuncio.precio }}€ </h2>
                    </div>

                    <div class="para">
                        <img :src="anuncio.imagen" class="img-fluid">
                        <p>{{ anuncio.direccion }}</p>
                        <p>Publicado: {{ anuncio.fecha_publicacion }}</p>

                    </div>

                    <!--<div class="sign text-center parallel_but">

                        <a id="modal-custom" href="" class="popup-with-zoom-anim trigger-custom">Editar</a>
                        <a href="" class="popup-with-zoom-anim">+ Imágenes</a>

                    </div>-->

                    <div class="sign text-center parallel_but">
                        <!--<a v-bind:href=" 'anuncio.html?id='+ anuncio.id " class="popup-with-zoom-anim">Ver</a>-->
                        <a v-if="!anuncio.activo" v-on:click.prevent.stop="alquilado(anuncio.id)" href=""
                            class="popup-with-zoom-anim">Activar Anuncio</a>
                        <a v-if="anuncio.activo" v-on:click.prevent.stop="alquilado(anuncio.id)" href=""
                            class="popup-with-zoom-anim">Desactivar Anuncio</a>
                        <!--a v-on:click.prevent.stop="deleteAnuncio(anuncio.id)" href=""
                            class="popup-with-zoom-anim">Eliminar</a>-->

                    </div>


                </div>

            </div>


            <div class="clear"></div>

        </div>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">

            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <ul class="nav nav-tabs md-tabs tabs-2 light-blue darken-3" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active first-tab" data-toggle="tab" href="#panel7" role="tab"><i
                                        class="fas fa-user mr-1"></i>
                                    Anuncio</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link second-tab" data-toggle="tab" href="#panel8" role="tab"><i
                                        class="fas fa-user-plus mr-1"></i>
                                    Características Vivienda</a>
                            </li>
                        </ul>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="first">
                            <div class="row form-group">
                                <div class="col-md-6">

                                    <input v-model="update.precio" type="number" class="form-control"
                                        placeholder="Precio">
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-12">

                                    <input v-model="update.direccion" type="text" class="form-control"
                                        placeholder="Dirección">
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-6">
                                    <select id="busqueda_provincia" v-model="update.provincia" class="form-control">
                                        <option value='' disabled selected hidden>Provincia</option>
                                        <option value='alava'>Álava</option>
                                        <option value='albacete'>Albacete</option>
                                        <option value='alicante'>Alicante</option>
                                        <option value='almeria'>Almería</option>
                                        <option value='asturias'>Asturias</option>
                                        <option value='avila'>Ávila</option>
                                        <option value='badajoz'>Badajoz</option>
                                        <option value='barcelona'>Barcelona</option>
                                        <option value='burgos'>Burgos</option>
                                        <option value='caceres'>Cáceres</option>
                                        <option value='cadiz'>Cádiz</option>
                                        <option value='cantabria'>Cantabria</option>
                                        <option value='castellon'>Castellón</option>
                                        <option value='ceuta'>Ceuta</option>
                                        <option value='ciudadreal'>Ciudad Real</option>
                                        <option value='cordoba'>Córdoba</option>
                                        <option value='cuenca'>Cuenca</option>
                                        <option value='girona'>Girona</option>
                                        <option value='laspalmas'>Las Palmas</option>
                                        <option value='granada'>Granada</option>
                                        <option value='guadalajara'>Guadalajara</option>
                                        <option value='guipuzcoa'>Guipúzcoa</option>
                                        <option value='huelva'>Huelva</option>
                                        <option value='huesca'>Huesca</option>
                                        <option value='islasbaleares'>Islas Baleares</option>
                                        <option value='jaen'>Jaén</option>
                                        <option value='acoruña'>A Coruña</option>
                                        <option value='larioja'>La Rioja</option>
                                        <option value='leon'>León</option>
                                        <option value='lleida'>Lleida</option>
                                        <option value='lugo'>Lugo</option>
                                        <option value='madrid'>Madrid</option>
                                        <option value='malaga'>Málaga</option>
                                        <option value='melilla'>Melilla</option>
                                        <option value='murcia'>Murcia</option>
                                        <option value='navarra'>Navarra</option>
                                        <option value='ourense'>Ourense</option>
                                        <option value='palencia'>Palencia</option>
                                        <option value='pontevedra'>Pontevedra</option>
                                        <option value='salamanca'>Salamanca</option>
                                        <option value='segovia'>Segovia</option>
                                        <option value='sevilla'>Sevilla</option>
                                        <option value='soria'>Soria</option>
                                        <option value='tarragona'>Tarragona</option>
                                        <option value='santacruztenerife'>Santa Cruz de Tenerife</option>
                                        <option value='teruel'>Teruel</option>
                                        <option value='toledo'>Toledo</option>
                                        <option value='valencia'>Valencia</option>
                                        <option value='valladolid'>Valladolid</option>
                                        <option value='vizcaya'>Vizcaya</option>
                                        <option value='zamora'>Zamora</option>
                                        <option value='zaragoza'>Zaragoza</option>
                                    </select>
                                </div>
                                <div class="col-md-6">

                                    <input v-model="update.ciudad" type="text" class="form-control"
                                        placeholder="Ciudad">
                                </div>
                            </div>
                        </div>

                        <div class="second">
                            <div class="row form-group">
                                <div class="col-md-6">
                                    <input v-model="update.tam_hab" type="number" class="form-control"
                                        placeholder="Tamaño habitación">
                                </div>
                                <div class="col-md-6">

                                    <input v-model="update.tam_casa" type="number" class="form-control"
                                        placeholder="Tamaño casa">
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-6">
                                    <input v-model="update.num_hab" type="number" class="form-control"
                                        placeholder="Número habitaciones">
                                </div>
                                <div class="col-md-6">
                                    <input v-model="update.num_camas" type="number" class="form-control"
                                        placeholder="Número camas">
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-6">
                                    <span>Ventana</span>
                                    <select v-model="update.ventana" class="form-control">
                                        <option value='exterior'>Interior</option>
                                        <option value='interior'>Exterior</option>
                                        <option value='sin'>No tiene</option>
                                    </select>
                                </div>
                                <div class="col-md-6">
                                    <span>Lavabo</span>
                                    <select v-model="update.lavabo" class="form-control">
                                        <option value='individual'>Individual</option>
                                        <option value='compartido'>Compartido</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-7">
                                    <span>Tamaño cama</span>
                                    <select v-model="update.tam_cama" class="form-control">
                                        <option value='individual'>Individual</option>
                                        <option value='doble'>Doble</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-12">
                                    <textarea v-model="update.descripcion" rows="5" class="form-control"
                                        placeholder="Descripción"></textarea>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button @click="deleteAnuncio" type="button" class="btn btn-primary but-elim">Eliminar
                            anuncio</button>

                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        <button @click="updateAnuncio" type="button" class="btn btn-primary">Actualizar</button>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <!-- PRIVACY BOX -->
    <div id="privacy-box">
        <div class="cookieinfo"
            style="position: fixed; left: 0px; right: 0px; height: auto; min-height: 21px; z-index: 2147483647; background: rgb(242, 223, 215); color: black; line-height: 21px; padding: 8px 18px; font-family: verdana, arial, sans-serif; font-size: 14px; text-align: center; bottom: 0px; opacity: 1;">
            <div class="but-cookies cookieinfo-close"
                style="float: right; display: block; padding: 5px 8px; min-width: 100px; margin-left: 5px; border-radius: 5px; cursor: pointer; color: white; background: rgb(175, 39, 39); text-align: center;">
                Entendido!</div><span style="display:block;padding:5px 0 5px 0;">
                Utilizamos cookies y almacenamiento local para mejorar su experiencia. Al continuar visitando este
                sitio, usted
                acepta nuestra política. <a href="cookies.html"
                    style="text-decoration: none; color: rgb(175, 39, 39);">Más
                    información</a><img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                    style="display: none;"> <a href="https://cookieinfoscript.com"
                    style="text-decoration: none; display: none; color: rgb(175, 39, 39);">Cookie Info Script</a></span>
        </div>
    </div>
    <!-- -->

    <footer class="site-footer">
        <div class="container">

            <div class="row pt-5 mt-5 text-center">
                <div class="col-md-12">
                    <p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Creative Commons &copy;</script>
                        <script>document.write(new Date().getFullYear());</script> | This template is made by <a
                            href="https://colorlib.com" target="_blank">Colorlib</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>

            </div>
        </div>
    </footer>

    <script src="lib/jquery/jquery-3.4.1.min.js"></script>
    <script src="lib/bootstrap/bootstrap.min.js"></script>
    <script src="lib/aos/aos.js"></script>
    <script src="js/main.js"></script>

    <!-- Axios for AJAX requests-->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <!-- Vuejs -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>

    <!-- Notifications -->
    <script src="lib/jquery.growl/jquery.growl.js"></script>

    <!-- Custom JS -->
    <script src="js/required_auth.js"></script>
    <script src="js/config.js"></script>
    <script src="js/login.js"></script>
    <script src="js/mis_anuncios.js"></script>
    <script src="js/header.js"></script>
    <script src="js/check_privacy.js"></script>

</body>

</html>