<!DOCTYPE html>
<html lang="es">

<head>
  <title>RentRoom - Registro</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,700,900|Roboto+Mono:300,400,500">
  <link rel="stylesheet" href="fonts/icomoon/style.css">

  <link rel="stylesheet" href="lib/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="fonts/flaticon/font/flaticon.css">
  <link rel="stylesheet" href="fonts/bigmug-line/fl-bigmug-line.css">

  <link rel="stylesheet" href="lib/aos/aos.css">

  <link rel="stylesheet" href="css/style.css">

  <!-- Custom CSS for Login -->
  <link rel="stylesheet" href="css/login.css">

  <!-- Notifications -->
  <link rel="stylesheet" type="text/css" href="lib/jquery.growl/jquery.growl.css" />

</head>

<body>

  <div class="site-loader"></div>

  <div class="site-wrap">

    <div class="site-mobile-menu">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div> <!-- .site-mobile-menu -->

    <div class="site-navbar">

      <div class="container py-1">
        <div class="row align-items-center">
          <div class="col-8 col-md-8 col-lg-4">
            <h1 class="title_rent"><a href="index.html" class="h5 text-uppercase text-black"><strong>RentRoom<span
                    class="text-danger">.</span></strong></a></h1>
            <a v-if="!logged" href="create_anuncio.html"><span class="text-black fl-bigmug-line-note35"></span> <span
                class="d-none d-md-inline-block ml-2">Publica tu habitación!</span></a>
          </div>

          <div class="col-4 col-md-4 col-lg-8">
            <nav class="site-navigation text-right text-md-right" role="navigation">

              <ul class="site-menu js-clone-nav d-none d-lg-block">

                <div id="bar">

                  <div id="container">
                    <!-- Login Starts Here -->

                    <div id="loginContainer">
                      <div style="clear:both"></div>
                      <div v-if="login_form" id="loginBox">
                        <form @submit.prevent="login" id="loginForm">
                          <fieldset id="body">
                            <fieldset>
                              <label for="email">Email</label>
                              <input v-model="user.email" type="text" name="email" id="email" />
                            </fieldset>
                            <fieldset>
                              <label for="password">Contraseña</label>
                              <input v-model="user.password" type="password" name="password" id="password" />
                            </fieldset>
                            <br>
                            <input type="submit" id="login" value="Iniciar Sesión" />

                          </fieldset>
                        </form>

                      </div>

                    </div>
                    <!-- Login Ends Here -->

                  </div>
                </div>

                <li><a href="index.html">Inicio</a></li>
                <li v-if="logged"><a class="activo" id="loginButton" @click.prevent="show_boxlogin" href="">Iniciar
                    Sesión</a>
                </li>
                <li v-if="logged"><a href="registro.html">Registro</a></li>
                <li v-if="!logged"><a href="mis_anuncios.html">Mis Anuncios</a></li>
                <li v-if="!logged" class="has-children">
                  <a href="mi_cuenta.html">{{ user.nombre }}</a>
                  <ul class="dropdown">
                    <li><a href="mi_cuenta.html">Mi Cuenta</a></li>
                    <li><a href="mis_chats.html">Mis Chats</a></li>
                    <li @click="logout"><a href="">Cerrar Sesión</a></li>
                  </ul>
                </li>

              </ul>

            </nav>


          </div>


        </div>
      </div>

    </div>
  </div>

  <div id="div_inicial" class="site-section">
    <div class="container">
      <div class="row">

        <div class="col-md-6 col-lg-6 mb-5">

          <div class="site-section-title text-center">
            <h2>Registro</h2>
          </div>
          <br>

          <form @submit.prevent="register_action" class="p-5 bg-white border">

            <div class="row form-group">
              <div class="col-md-12 mb-3 mb-md-0">
                <label class="font-weight-bold" for="fullname">Nombre</label>
                <input v-model="nombre" type="text" id="fullname" class="form-control" placeholder="Introduce tu nombre"
                  required>
              </div>
            </div>

            <div class="row form-group">
              <div class="col-md-12">
                <label class="font-weight-bold" for="email">Email</label>
                <input v-model="email" type="email" id="subject" class="form-control" placeholder="Introduce tu correo"
                  required>
              </div>
            </div>

            <div class="row form-group">
              <div class="col-md-12">
                <label class="font-weight-bold" for="message">Contraseña</label>
                <input v-model="contraseña" type="password" id="subject" class="form-control"
                  placeholder="Introduce la contraseña" required>
              </div>
            </div>

            <div class="row form-group">
              <div class="col-md-12">
                <label class="font-weight-bold" for="message">Contraseña</label>
                <input v-model="contraseña2" type="password" id="subject" class="form-control"
                  placeholder="Vuelve a introducir la contraseña" required>
              </div>
            </div>

            <div class="row form-group">
              <div class="col-md-12">
                <input type="submit" value="Registrarme" class="btn btn-primary  py-2 px-4 rounded-0">
              </div>
            </div>

          </form>
        </div>

        <div class="col-md-6 col-lg-6 mb-5">

          <img class="create_img" src="images/img_registro.jpg">

        </div>

      </div>
    </div>
  </div>

  <!-- PRIVACY BOX -->
  <div id="privacy-box">
    <div class="cookieinfo"
      style="position: fixed; left: 0px; right: 0px; height: auto; min-height: 21px; z-index: 2147483647; background: rgb(242, 223, 215); color: black; line-height: 21px; padding: 8px 18px; font-family: verdana, arial, sans-serif; font-size: 14px; text-align: center; bottom: 0px; opacity: 1;">
      <div class="but-cookies cookieinfo-close"
        style="float: right; display: block; padding: 5px 8px; min-width: 100px; margin-left: 5px; border-radius: 5px; cursor: pointer; color: white; background: rgb(175, 39, 39); text-align: center;">
        Entendido!</div><span style="display:block;padding:5px 0 5px 0;">
        Utilizamos cookies y almacenamiento local para mejorar su experiencia. Al continuar visitando este sitio, usted
        acepta nuestra política. <a href="cookies.html" style="text-decoration: none; color: rgb(175, 39, 39);">Más
          información</a><img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
          style="display: none;"> <a href="https://cookieinfoscript.com"
          style="text-decoration: none; display: none; color: rgb(175, 39, 39);">Cookie Info Script</a></span>
    </div>
  </div>
  <!-- -->

  <footer class="site-footer">
    <div class="container">

      <div class="row pt-5 mt-5 text-center">
        <div class="col-md-12">
          <p>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Creative Commons &copy;</script>
            <script>document.write(new Date().getFullYear());</script> | This template is made by <a
              href="https://colorlib.com" target="_blank">Colorlib</a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          </p>
        </div>

      </div>
    </div>
  </footer>

  <script src="lib/jquery/jquery-3.4.1.min.js"></script>
  <script src="lib/bootstrap/bootstrap.min.js"></script>
  <script src="lib/aos/aos.js"></script>

  <script src="js/main.js"></script>

  <!-- Notifications -->
  <script src="lib/jquery.growl/jquery.growl.js"></script>

  <!-- Axios for AJAX requests-->
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

  <!-- Vuejs-->
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>

  <!-- Custom JS -->
  <script src="js/config.js"></script>
  <script src="js/registro.js"></script>
  <script src="js/login.js"></script>
  <script src="js/check_privacy.js"></script>
  <script src="js/header.js"></script>


</body>

</html>