/* Base */

img {
  margin-top: 0%;
}

@media (max-width: 991.98px) {
  .img-md-fluid {
    max-width: 100%;
  }
}

@media (max-width: 991.98px) {
  .display-1, .display-3 {
    font-size: 3rem;
  }
}

@media (max-width: 991.98px) {
  .main-content {
    width: 100%;
    position: relative;
    float: none;
  }
}

.main-content .container-fluid {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}

@media (max-width: 991.98px) {
  .main-content .container-fluid {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.main-content .photos .photo-item {
  position: relative;
}

.main-content .photos .photo-item:after {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: rgba(255, 255, 255, 0.6);
  z-index: 1;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  opacity: 0;
  visibility: hidden;
}

.main-content .photos .photo-item .photo-text-more {
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 50%;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin-top: 30px;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  opacity: 0;
  visibility: hidden;
  text-align: center;
}

.main-content .photos .photo-item .photo-text-more .icon {
  color: #333;
  font-size: 20px;
}

.main-content .photos .photo-item .photo-text-more .heading {
  font-size: 22px;
  color: #333;
  margin-bottom: 0;
}

.main-content .photos .photo-item .photo-text-more .meta {
  color: #666;
  text-transform: uppercase;
  font-size: 15px;
}

.main-content .photos .photo-item img {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  height: 300px;
  margin-bottom: 20px;
}

@media (max-width: 575.98px) {
  .main-content .photos .photo-item img {
    height: 200px;
  }
}

.main-content .photos .photo-item:hover:after {
  opacity: 1;
  visibility: visible;
}

.main-content .photos .photo-item:hover .photo-text-more {
  margin-top: 0;
  opacity: 1;
  visibility: visible;
}