#loginContainer {
    position: relative;
    float: right;
    font-size: 14px;
}


/* Login Box */

#loginBox {
    position: absolute;
    top: 34px;
    right: 0;
    z-index: 29;
}

/* If the Login Button has been clicked */

#loginButton.active {
    /*border-radius:3px 3px 0 0;*/
}

#loginButton.active span {
    background-position: 53px -76px;
}

/* A Line added to overlap the border */

#loginButton.active em {
    position: absolute;
    width: 100%;
    height: 1px;
    background: #d2e0ea;
    bottom: -1px;
}

/* Login Form */

#loginForm {
    width: 248px;
    border: 1px solid #AF2727;
    /* border-radius:3px 0 3px 3px;*/
    margin-top: -1px;
    background: #F2DFD7;
    padding: 6px;
}

#loginForm fieldset {
    margin: 0 0 12px 0;
    display: block;
    border: 0;
    padding: 0;
}

fieldset#body {
    background: #fff;
    /* border-radius:3px;*/
    padding: 10px 13px;
    margin: 0;
}

#loginForm #checkbox {
    width: auto;
    margin: 1px 9px 0 0;
    float: left;
    padding: 0;
    border: 0;
    margin: -3px 9px 0 0;
}

#body label {
    color: #3a454d;
    margin: 9px 0 0 0;
    display: block;
    float: left;
}

#loginForm #body fieldset label {
    display: block;
    float: none;
    margin: 0 0 6px 0;
}

/* Default Input */

#loginForm input {
    width: 92%;
    border: 1px solid #899caa;
    border-radius: 3px;
    color: #3a454d;
    font-weight: bold;
    padding: 8px 8px;
    box-shadow: inset 0px 1px 3px #bbb;
    font-size: 12px;
}

/* Sign In Button */

#loginForm #login {
    width: auto;
    font-size: 1.1em;
    color:#AF2727;
    border: 1px solid #AF2727;
    box-shadow: none;
    margin: 0 12px 0 0;
    cursor: pointer;
    padding: 9px 7px 9px 7px;
}
