/*-- Index Page Styling --*/

.grid_misanuncios {
	margin-top: 15%;
}

.grid_misanuncios img {
	width: 100%;
	height: 180px;
}

.clear {
	clear: both;
}

.grid1 {
	width: 30%;
	float: left;
	margin-right: 2%;
	background-color: #F2DFD7;
	position: relative;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
	margin-bottom: 15%;
}

.grid1:hover {
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}

.grid1 span {
	position: absolute;
	top: -11.5%;
	right: 0%;
	color: #F8F8FF;
	font-family: 'Oswald-Light';
	font-size: 20px;
	font-weight: 900;
	padding: 10px 30px;
	background-color: #AF2727;
}

.grid1 h2 {
	font-size: 24px;
	text-align: center;
	padding: 15px 0;
	color: #F8F8FF;
	background-color: #AF2727;
}

.grid1 .para p {
	padding: 20px 0px;
	margin: 0 25px;
	font-size: 18px;
	color: #333;
	font-family: 'Oswald-Light';
	border-bottom: 1px solid white;
}

.grid1 .sign {
	padding: 0.5em 0;
	/*padding-bottom: 0;*/
	text-align: center;
}

.grid1 .sign a {
	display: inline-block;
	padding: 8px 8px;
	margin: 8px;
	font-size: 1em;
	font-weight: 600;
	color: #FFF;
	font-family: 'Oswald-Regular';
	border-radius: 2px;
	text-decoration: none;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	background-color: #AF2727;
}

.grid1 .sign a:hover {
	background-color: #AF2727;
}

/*-- Index Page Styling --*/

/*-- Hover Effects --*/

.grid1:hover {
	transform: scale(1.05);
	-webkit-transform: scale(1.05);
	-moz-transform: scale(1.05);
	-o-transform: scale(1.05);
	-ms-transform: scale(1.05);
	z-index: 1;
	border: none;
}

/*-- Responsive - Design --*/

@media screen and (max-width: 1366px) {
	.grid1, .grid2, .grid3 {
		width: 32%
	}
}

@media screen and (max-width: 1024px) {
	#small-dialog {
		height: 530px;
	}
}

@media screen and (max-width: 966px) {
	.mfp-close {
		right: -45px;
	}
}

@media screen and (max-width: 900px) {}

@media screen and (max-width: 768px) {
	h1 {
		margin-top: 75px;
		margin-bottom: 120px;
	}
	#small-dialog {
		height: 530px;
	}
}

@media screen and (max-width: 736px) {
	.grid1:hover, .grid2:hover, .grid3:hover {
		transform: none;
	}
	#small-dialog {
		height: 520px;
	}
	.mfp-close {
		right: -15px;
	}
}

@media screen and (max-width: 667px) {
	.grid1:hover, .grid2:hover, .grid3:hover {
		transform: none;
	}
	#small-dialog {
		height: 520px;
	}
	.mfp-close {
		right: -15px;
	}
}

@media screen and (max-width: 640px) {
	.payment-online-form-left input[type="text"] {
		width: 41%;
	}
}

@media screen and (max-width: 603px) {
	.grid1 .sign a, .grid2 .sign a, .grid3 .sign a {
		padding: 10px 50px;
	}
	.payment-online-form-left input[type="text"] {
		width: 41%;
	}
	.mfp-close {
		right: -15px;
	}
}

@media screen and (max-width: 600px) {
	.grid1 .para p, .grid2 .para p, .grid3 .para p {
		font-size: 17px;
	}
	.grid1 .sign a, .grid2 .sign a, .grid3 .sign a {
		padding: 10px 50px;
	}
	.grid1:hover, .grid2:hover, .grid3:hover {
		transform: none;
	}
	.payment-online-form-left input[type="text"] {
		width: 41%;
	}
	.mfp-close {
		right: -15px;
	}
}

@media screen and (max-width: 568px) {
	.grid1 h2, .grid2 h2, .grid3 h2 {
		font-size: 20px;
	}
	.grid3 .para p {
		margin: 0 24px;
	}
	.grid1 .sign a, .grid2 .sign a, .grid3 .sign a {
		padding: 10px 45px;
	}
	.grid1:hover, .grid2:hover, .grid3:hover {
		transform: none;
	}
	#small-dialog {
		height: 450px;
	}
	.payment-online-form-left input[type="text"] {
		width: 41%;
		margin: 5px 0;
		font-size: 12px;
	}
	.payment-sendbtns {
		margin: 7px 10px;
	}
	a.order {
		padding: 6px 20px;
	}
	.payment-sendbtns input[type="reset"] {
		padding: 6px 50px;
	}
	.mfp-close {
		right: -15px;
	}
}

@media screen and (max-width: 533px) {
	.grid1 .para p {
		margin: 0 23px;
	}
	.grid2 .para p {
		margin: 0 22px;
	}
	.grid3 .para p {
		margin: 0 20px;
	}
	#small-dialog {
		height: 460px;
	}
	.payment-online-form-left input[type="text"] {
		width: 41%;
		font-size: 13px;
	}
}

@media screen and (max-width: 480px) {
	.grid1 span, .grid2 span, .grid3 span {
		top: -8%;
		font-size: 18px;
		padding: 8px 20px;
	}
	.grid1 .para p, .grid2 .para p, .grid3 .para p {
		margin: 0 15px;
		font-size: 15px;
	}
	.grid1 .sign a, .grid2 .sign a, .grid3 .sign a {
		padding: 10px 40px;
	}
	.payment-online-form-left input[type="text"] {
		width: 40%;
	}
	#small-dialog {
		height: 455px;
	}
}

@media screen and (max-width: 414px) {
	.grid1, .grid2, .grid3 {
		width: 100%;
	}
	.grid1, .grid2 {
		margin-bottom: 90px;
	}
	.grid1:hover, .grid2:hover, .grid3:hover {
		transform: none;
	}
	#small-dialog {
		height: 700px;
	}
	.payment-online-form-left input[type="text"] {
		width: 87%;
		margin: 5px 0;
		font-size: 12px;
	}
	.payment-sendbtns {
		margin: 10px 10px;
	}
	a.order {
		padding: 6px 8px;
	}
	.payment-sendbtns input[type="reset"] {
		padding: 6px 30px;
	}
	.mfp-close {
		right: -15px;
	}
}

@media screen and (max-width: 384px) {
	.grid1:hover, .grid2:hover, .grid3:hover {
		transform: none;
	}
	.payment-sendbtns {
		margin: 10px 10px;
	}
	.payment-sendbtns input[type="reset"] {
		padding: 6px 30px;
	}
	a.order {
		padding: 6px 7px;
	}
}

@media screen and (max-width: 375px) {
	.grid1, .grid2, .grid3 {
		width: 100%;
	}
	.grid1, .grid2 {
		margin-bottom: 90px;
	}
	.grid1:hover, .grid2:hover, .grid3:hover {
		transform: none;
	}
	.grid1 .para p, .grid2 .para p, .grid3 .para p {
		padding: 15px 0px;
	}
	.grid1 .sign a, .grid2 .sign a, .grid3 .sign a {
		padding: 7px 30px;
		font-size: 1em;
	}
	#small-dialog {
		height: 700px;
	}
	.payment-online-form-left input[type="text"] {
		width: 87%;
		margin: 5px 0;
		font-size: 12px;
	}
	.payment-sendbtns {
		margin: 7px 10px;
	}
	a.order {
		padding: 6px 8px;
	}
	.payment-sendbtns input[type="reset"] {
		padding: 6px 30px;
	}
	.mfp-close {
		right: -15px;
	}
}

@media screen and (max-width: 320px) {
	.grid1, .grid2 {
		width: 100%;
		margin-bottom: 90px;
	}
	.grid3 {
		width: 100%;
	}
	.grid1 .para p, .grid2 .para p, .grid3 .para p {
		padding: 15px 0px;
	}
	.grid1 .sign a, .grid2 .sign a, .grid3 .sign a {
		padding: 7px 30px;
		font-size: 1em;
	}
	.grid1:hover, .grid2:hover, .grid3:hover {
		transform: none;
	}
	#small-dialog {
		height: 700px;
	}
	.payment-online-form-left input[type="text"] {
		width: 87%;
		margin: 5px 0;
		font-size: 12px;
	}
	.payment-sendbtns {
		margin: 10px 14px;
	}
	a.order {
		padding: 6px 10px;
	}
	.payment-sendbtns input[type="reset"] {
		padding: 6px 30px;
	}
	.mfp-close {
		right: -15px;
	}
}

@media screen and (max-width: 240px) {
	h1 {
		font-size: 16px;
	}
	.grid1 .para p, .grid2 .para p, .grid3 .para p {
		font-size: 16px;
		padding: 10px 0px;
	}
	.grid1 .sign a, .grid2 .sign a, .grid3 .sign a {
		font-size: 14px;
		padding: 6px 30px;
	}
	.footer p {
		font-size: 13px;
	}
	.grid1:hover, .grid2:hover, .grid3:hover {
		transform: none;
	}
	#small-dialog {
		height: 735px;
	}
	.payment-online-form-left input[type="text"] {
		width: 85%;
	}
	.payment-sendbtns {
		margin: 12px 10px;
	}
	.payment-sendbtns input[type="reset"] {
		padding: 6px 22px;
		font-size: 14px;
	}
	a.order {
		padding: 6.5px 4px;
		font-size: 13px;
	}
}

/*-- Responsive - Design --*/

.status-alquilado {
	background-color: #666 !important;
}